#cartIcon {
    position: fixed;
    right: 10px;
    top: 10px;

    img {
        width: 40px;
        height: auto;
        z-index: -1;
    }

    .dot {
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        left: 5px;
        top: 20px;
        z-index: 0;
    }

    h3 {
        position: absolute;
        z-index: 0;
        left: 10px;
        top: 20px;
    }
}

#homeLink {
    font-size: 20px;
}